.icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-alert {
	
}
.icon-arrow {
	
}
.icon-avatar {
	
}
.icon-basket {
	
}
.icon-cancel {
	
}
.icon-cart {
	
}
.icon-check {
	
}
.icon-checked {
	
}
.icon-delivery {
	
}
.icon-edit {
	
}
.icon-error {
	
}
.icon-filter {
	
}
.icon-gift {
	
}
.icon-heart {
	
}
.icon-home {
	
}
.icon-logo {
	
}
.icon-mail {
	
}
.icon-map {
	
}
.icon-percent {
	
}
.icon-phone {
	
}
.icon-radio {
	
}
.icon-refresh {
	
}
.icon-remove {
	
}
.icon-ruble {
	
}
.icon-sale {
	
}
.icon-search {
	
}
.icon-star {
	
}
.icon-starclear {
	
}
