section.category
  .grid-wrapper
    .grid-row
      .category__item.category__item--summer
        a(href="").category__item-link
          h3.category__item-head Летняя коллекция
          span.category__item-subhead Выберите свой вариант стиля
      .category__item.category__item--winter
        a(href="").category__item-link
          h3.category__item-head Зимняя коллекция
          span.category__item-subhead Выберите свой вариант стиля
      .category__item.category__item--autumn
        a(href="").category__item-link
          h3.category__item-head Весенняя коллекция
          span.category__item-subhead Выберите свой вариант стиля