section.product
  .grid-wrapper
    .grid-row
      section.product__preview
        .product__preview-full
          img(src="images/latest/full.jpg", alt="")
        ul.product__preview-thumb
          li.product__preview-thumbitem
            a.product__preview-thumblink(href="")
              img(src="images/latest/1.jpg", alt="")
          li.product__preview-thumbitem
            a.product__preview-thumblink(href="")
              img(src="images/latest/2.jpg", alt="")
          li.product__preview-thumbitem
            a.product__preview-thumblink(href="")
              img(src="images/latest/3.jpg", alt="")
      section.product__decription
        h1.product__decription-head Название товара
        span.product__decription-subhead Подзаголовок товара
        .product__decription-wrap
          span.product__decription-price Цена:
          span.product__decription-price.product__decription-price--num 8500р
        label.product__decription-label
          span.product__decription-text Количество
          input.product__decription-input
        .product__options
          h3.product__options-head Доступные варианты
          <label>
              <input class="checkbox" type="radio" name="checkbox-test" disabled>
              
              <span class="label">42</span>
          </label> 
          <label>
              <input class="checkbox" type="radio" name="checkbox-test">
              
              <span class="label">44</span>
          </label> 
          <label>
              <input class="checkbox" type="radio" name="checkbox-test">
              
              <span class="label">46</span>
          </label> 
          <label>
              <input class="checkbox" type="radio" name="checkbox-test">
              
              <span class="label">48</span>
          </label> 
        button.product__decription-button В корзину
        .product__decription-fulltext
          h4.product__decription-head Описание товара
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми мир путь, живет первую снова страну переписывается строчка назад!
      include ../../module/reviews.pug
        
        
