section.breadcrumbs
  .grid-wrapper
    .grid-row
      ul.breadcrumbs__block
        li.breadcrumbs__item
          a.breadcrumbs__link(href="/")
            +svg('icon-home','home')
        li.breadcrumbs__item
          span.breadcrumbs__link.breadcrumbs__link--active Кольца