
section.slider
    .swiper-container.swiper-slider
        .swiper-wrapper
            .swiper-slide
                img(src="images/slide1.jpg", alt="")
            .swiper-slide
                img(src="images/slide2.jpg", alt="")
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next