
.checkbox {
	display: none;
}


.checkbox-custom,
.label {
  display: inline-flex;
  @include font;
  vertical-align: middle;
  color: #000;
  font-size: 20px;
  padding: $paddingBlock/2;
  margin-right: $marginBlock;
  cursor: pointer;
  &:hover {
    color: $colorAcent;
  }
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked  {
  & + span {
    color: $colorAcent;
  }

}

.checkbox[disabled] + span {
  color: lighten($colorFontB,40%);
}