extends ../layout.pug

block contents
  include ../block/header/header.pug
  include ../block/other/breadcrumbs.pug
  section.client
    .grid-wrapper
      .grid-row
        section.client__wrap.client__wrap--bg
          h3.client__form-head.client__form-head--account 
            span.client__form-header Ваш пароль
          ul.account__list
            li.account__list-item
              a(href="").account__list-link Изменить контактную информацию
            li.account__list-item
              a(href="").account__list-link Пароль
            li.account__list-item
              a(href="").account__list-link Адресная книга
            li.account__list-item
              a(href="").account__list-link Посмотреть закладки
          h3.client__form-head.client__form-head--account 
            span.client__form-header Ваш пароль
          ul.account__list
            li.account__list-item
              a(href="").account__list-link Изменить контактную информацию
            li.account__list-item
              a(href="").account__list-link Пароль
            li.account__list-item
              a(href="").account__list-link Адресная книга
            li.account__list-item
              a(href="").account__list-link Посмотреть закладки
          h3.client__form-head.client__form-head--account 
            span.client__form-header Ваш пароль
          ul.account__list
            li.account__list-item
              a(href="").account__list-link Изменить контактную информацию
            li.account__list-item
              a(href="").account__list-link Пароль
            li.account__list-item
              a(href="").account__list-link Адресная книга
            li.account__list-item
              a(href="").account__list-link Посмотреть закладки
  include ../block/footer/footer.pug


