extends ../layout.pug

block contents
  include ../block/header/header.pug
  include ../block/other/slider.pug
  include ../block/content/category.pug
  include ../block/content/latest-product.pug
  include ../block/content/features.pug
  include ../block/content/sale.pug
  include ../block/footer/footer.pug

  