section.reviews
  h3.reviews__head Отзыв о товаре
  ul.reviews__list
    li.reviews__item
      .reviews__item-ava
        +svg("icon-avatar", "avatar")
      .reviews__item-wrap
        span.reviews__item-name Имя 
        span.reviews__item-date 10.10.2018
        .reviews__item-star
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
        p.reviews__item-text Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Даже использовало имеет запятой коварный грустный выйти сих свое ведущими пустился продолжил города, всеми речью.
    li.reviews__item
      .reviews__item-ava
        +svg("icon-avatar", "avatar")
      .reviews__item-wrap
        span.reviews__item-name Имя 
        span.reviews__item-date 10.10.2018
        .reviews__item-star
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
          +svg("icon-star", "star")
        p.reviews__item-text Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Даже использовало имеет запятой коварный грустный выйти сих свое ведущими пустился продолжил города, всеми речью.
  include ./reviews_form.pug
