.cart
  .cart__wrapper-icon
    +svg("icon-cart-header","basket")
  span.cart__text 2 товара на
  .cart__wrapper
    span.cart__price.cart__price--big 7900
    +svg("icon-ruble","ruble")
  a.cart__link(href="") Оформить