.category {
  margin-bottom: $marginSection;
  &__item {
    @include col;
    @include size(4);
    @include size-xs(12);
    @include xs-block {
      margin-bottom: $marginBlock;
    }
    @include display(row);
    min-height: rem(200px);
    @include addImg("category/1.jpg");
    padding: $paddingBlock;
    &-link {
      flex-basis: 40%;
      text-decoration: none;
      display: block;
      &:hover {
        .category__item-head, .category__item-subhead {
          color: lighten($colorFontB, 15%);
        }
        
      }
    }
    &-head {
      text-align: left;
      color: $colorFontB;
    }
    &-subhead {
      text-align: left;
      color: $colorFontB;
    }
    &--summer {
      .category__item-link {
        .category__item-head {
          color: $colorFontW;
        }
        .category__item-subhead {
          color: $colorFontW;
        }
        &:hover {
          .category__item-head {
            color: darken($colorFontW,15%);
          }
          .category__item-subhead {
            color: darken($colorFontW,15%);
          }
        }
      }

    }
    &--winter {
      @include addImg("category/2.jpg");
    }
    &--autumn {
      @include addImg("category/3.jpg");
    }
  }
}